@font-face {
  font-family: Chivo;
  src: url('./assets/Chivo/Chivo-VariableFont_wght.ttf');
}

body {
  margin: 0;
  background-color: #1f0d08;
  color: #f8e6e1;
  font-family: Chivo;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

